/* 
- Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Spock Gradient: hsl(189, 59%, 53%) to hsl(189, 58%, 57%) 
*/
body {
    background-color: hsl(214, 47%, 23%);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-container {
    width: 90%;
    max-width: 900px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 25px;
    border: 3px solid hsl(217, 16%, 45%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title p{
    margin-left: 20px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    white-space: none;
    word-spacing: 0;
}
.header-score {
    height: 70%;
    width: 20%;
    background-color: white;
    border-radius: 15px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header-score h1 {
    position: relative;
    font-size: 25px;
    color: hsl(229, 25%, 31%);
}
.header-score p {
    color: hsl(229, 25%, 31%);
}
.footer {
    display: none;
}
/*! Body style */
.game-container {
    /* background-color: hsl(189, 59%, 53%); */
    position: absolute;
    top: 200px;
    left: 200px;
    height: 300px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}
.game-container h1 {
    color: white;
    font-size: 25px;
    font-weight: 800;
    /* position: relative;
    top: 50px;
    left: 60px; */
}
.user-choice-container, .computer-choice-container, .paper-container, .scissors-container,.rock-container{
    cursor: pointer;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    position: relative;
    top: 50px;
    display: flex;
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
    transition: all 0.3s ease;
}
.computer-choice-container{ 
    background-color:  hsl(349, 71%, 52%);
}
.user-choice-container{
    /* left: 50px; */
    background-color:  hsl(230, 89%, 62%);
}
.user-pick-container, .computer-pick-container, .scissors-hand-container,.paper-hand-container, .rock-hand-container {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    align-content: center;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 25px;
}
.play-btn {
    height: 50px;
    width: 170px;
    border-radius: 5px;
    position: relative;
    top: 60%;
    color: hsl(229, 25%, 31%);
    background-color: white;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.choose-hand-container {
    display: none;
    height: 400px;
    width: 500px;
    background-color: hsl(230, 89%, 65%);
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
    border-radius: 10px;
    z-index: 100;
    position:absolute;
    top: 20%;
}
.rock-container {
    background-color:  hsl(349, 71%, 52%);
    position:fixed;
    top: 60%;
    left: 43%;
}
.paper-container {
    background-color:  hsl(230, 89%, 62%);
    position:fixed;
    top: 30%;
    left: 33%;
    
}
.scissors-container {
    background-color:   hsl(39, 89%, 49%);
    position:fixed;
    left: 55%;
    top: 30%;
}